_ide_helper.php
_ide_helper_models.php
.dockerignore
.editorconfig
.env
.git/
.gitattributes
.github/
.gitignore
.idea
.phpstorm.meta.php
.styleci.yml
bootstrap/cache/*
docker-data/
docker-compose.yml
docker-compose.yaml.local
docker-compose.yaml.prod
Dockerfile
Dockerfile.alpine
Dockerfile.dev
horizon.log
supervisord.log
supervisord.pid

node_modules/

storage/debugbar
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
vendor/
